* {
padding: 0px;
margin: 0px;
scroll-behavior: smooth;

 }

 @font-face {
    font-family: "dongle-light";
    src: url("Dongle/Dongle-Light.ttf");
 }
  @font-face {
    font-family: "dongle-regular";
    src: url("Dongle/Dongle-Regular.ttf");
 }
  @font-face {
    font-family: "dongle-bold";
    src: url("Dongle/Dongle-Bold.ttf");
 }
 header {
   display: flex;
   padding: 20px;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   align-items: center;
   
 }
 .nav-menu ul {
   display: flex;

 }
 .nav-menu li {
   list-style: none;
   margin-right: 20px;
   
 }
 .logo img {
   max-width: 15%;
 }
 .nav-menu a {
   text-decoration: none;
   font-family: "dongle-bold";
   font-size: 1.6rem;
   color: #333;

 }
 .nav-menu li:last-child{
   margin-right: 0;
 }
 .nav-menu a:hover {
   color: #ff7f50;
   transition: all ease 0.3s;
 }
 .hero {
   position: relative;
   height: 800px;
   overflow: hidden;
 }
 .hero-image img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: -1;
 }
 .hero-content {
   position: absolutes;
      top: 50%;
   left: 50%;
  padding-top: 250px;
  padding-right: 150px;
  text-align: center;
  color: #fff;
 }
 .hero-content h1 {
  font-family: "dongle-bold";
  font-size: 4rem;
 }
 .hero-content p {
  font-family: "dongle-regular";
  font-size: 2rem;
  margin-top: -30px;
  margin-bottom: 15px;
 }
 .hero-button{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #ff7f50;
  padding: 15px 35px;
  border-radius: 55px;
  font-family: "donglr-light";
  font-size: 2rem;
  transition: all ease 0.3s;
 }
 .hero-button:hover {
  background-color: #333;
 }
 .destination {
   font-size: 2.4rem;
   font-family: "Dongle-bold";
 margin: 40px 80px;
   text-align: center;
   

 }
 .destination h2 {
  margin-bottom: 30px;
 }
 .destinations-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 50px;
 }
.destinaion-item img {
height: 450px;
width: 100%;
object-fit: cover;
}
.destinaion-item {
  text-align: left;
}
.destinaion-item h3 {
  font-size: 2rem;
}
.destinaion-item p {
  font-size: 1.8rem;
  font-family: "Dongle-regular";
  line-height: 1;
} 
.about {
  text-align: center;
  padding: 100px;
} 
.about h3 {
  font-family: "Dongle-bold";
  font-size: 3.1rem;
}
.about p {
  font-family: "Dongle-regular";
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 42px;
}
.team-members {
  display: flex;
  flex-wrap: wrap;
}
.team-member img {
  width: 300px;
  height: 300px;
  margin: 20px;
  object-fit: cover;
}
.team-member h4 {
  font-family: "Donglr-bold";
  font-size: 1.8rem;
  padding: 15px;
}
img:hover{
  border: 10px solid slateblue;
}
.contact{
  padding: 80px;
  text-align: center;
  background: #f7f7f7;
}
.contact h3{
  font-family: "Dongle-bold";
  font-size: 3rem;
}
.contact p{
  font-family: "Dongle-regular";
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.contact-info ul{
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}
.contact-info li{
  margin: 0 20px;
  font-family: "Dongle-regular";
  font-size: 1.5rem;
  display: flex;
  text-align: center;
}
.contact-info li a{
  text-decoration: none;
  font-family: "Dongle-regular";
  color: black;
}
.contact-info i {
  font-size: 24px;
  margin-right: 12px;
}
.from{
  width: 100%;

}
input,textarea{
  width: 71%;
  padding: 12px;
  margin: 20px 0;
  border: none;
  box-shadow:0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: "Dongle-regular";
}
textarea{
  height: 200px;
}
.from button{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #ff7f50;
  padding: 15px 35px;
  border-radius: 55px;
  font-family: "donglr-light";
  font-size: 2rem;
  transition: all ease 0.3s;
  border: none;

}
.from button:hover {
  background-color: #333;
 }
 footer{
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
 }
 .social-icon a {
  color: #fff;
  font-size: 20px;
  margin-right: 22px;
 }
 footer p {
  font-family: "Dongle-regular";
  font-size: 1.5rem;
 }